<footer class="footer has-background-black-ter has-text-white">
    <div class="container pt-6 ">
        <div class="columns ">
            <div class="column has-text-left   ">
                <div class="content ">
                    <h6 class="title is-size-6 has-text-left  has-text-white">About IT.COM</h6>
                    <p>lorem ipsum dolor sit amet, consectet lorem ipsum dolor sit amet, consectet</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h6 class="title is-size-6 has-text-white"><a href="/">IT.com</a></h6>
                </div>
            </div>
        </div>
        <p class="is-size-7 ">Make by Suphavej Kaewwanitchakorn @2021</p>
    </div>
</footer>

<script src="../../../js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
</body>

</html>
