<%- include('partials/header.ejs') %>

    <section class="hero is-medium is-link landing">
        <div class="landing-overlay is-overlay"></div>
        <div class="hero-body landing-content">
            <div class="container has-text-centered">
                <h1 class="title is-size-4-mobile is-size-2-tablet"> IT.COM </h1>
                <h4 class="subtitle is-size-5-mobile is-size-4-tablet"> Welcome to Electronics shop </h4>
                <a class="button is-success" href="/products">All Products</a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h3 class="title is-size-4-mobile is-size-3-tablet has-text-centered mb-6">Hot Products</h3>
            <div class="columns is-multiline has-background-grey-lighter">
                <!-- สินค้า 1 -->
                <div class="column is-4 product-column" data-category="phone">
                    <div class="card px-5 py-5 has-background-light has-text-black b">
                        <div class="content">
                            <p> <a class="has-text-black " href="/products/phone/detail/1"><img
                                        src="images/phone/phone-01.jpg" alt="Placeholder image"></a></p>
                            <h5 class="title is-size-5 pt-5" id="product11">ASUS ROG PHONE 5S (PHAMTOM BLACK)</h5>
                            <p class="pb-5 is-size-7">Processor : Snapdragon 888 PLUS / Adreno 660 • Display : 6.78"
                                FHD+ (2448 x 1080) 144Hz • Storage : 256GB • Memory : 12GB</p>
                                <table class="table table-sm table-borderless  has-background-light">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="buttons">
                                                    <a href="/products/phone/detail/1"><button type="button"
                                                        class="button is-info">Buy Now</button></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="prices has-text-danger  is-size-5 has-text-right mt-1 ">
                                                    ฿30,990</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

                <!-- สินค้า 2 -->
                <div class="column is-4 product-column " data-category="computer">
                    <div class="card px-5 py-5 has-background-light has-text-black b">
                        <div class="content">
                            <p> <a class="has-text-black " href="/products/computer/detail/15"><img
                                        src="images/computer/computer-15.jpg" alt=""></a></p>
                            <h5 class="title is-size-5 pt-5" id="product6">GIGABYTE AORUS GEFORCE RTX 3080 XTREME
                                WATERFORCE WB 10G - 10GB GDDR6X </h5>
                            <p class="pb-5 is-size-7">GeForce RTX 3080 • 10GB GDDR6X • 3 x DP • 3 x HDMI</p>
                            <table class="table table-sm table-borderless  has-background-light">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="buttons">
                                                <a href="/products/computer/detail/15"><button type="button"
                                                    class="button is-info">Buy Now</button></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="prices has-text-danger  is-size-5 has-text-right mt-1 ">
                                                ฿76,200</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- สินค้า 3 -->

                <div class="column is-4 product-column" data-category="computer">
                    <div class="card px-5 py-5 has-background-light has-text-black b">
                        <div class="content ">
                            <p> <a class="has-text-black " href="/products/computer/detail/14"><img
                                        src="images/computer/computer-14.jpg" alt="Placeholder image"></a></p>
                            <h5 class="title is-size-5 pt-5" id="product5">DESKTOP PC LENOVO IDEACENTRE 5</h5>
                            <p class="pb-6 is-size-7">AMD Ryzen 3 4300G / 4GB DDR4 UDIMM / 1TB 7200RPM / AMD Radeon
                                Graphics / Windows 10 Home</p>
                                <table class="table table-sm table-borderless  has-background-light">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="buttons">
                                                    <a href="/products/computer/detail/14"><button type="button"
                                                        class="button is-info">Buy Now</button></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="prices has-text-danger  is-size-5 has-text-right mt-1 ">
                                                    ฿18,990</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs') %>





























